.content-assessor {
    margin-bottom: 7%;
    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        .ant-input {
            height: 100%;
        }
        .left {
            width: 35%;
        }
        .right {
            width: 65%;
        }
    }
}