.home {
    background-image: linear-gradient(#ffffff 20%, #badcc3 80%);
    .loading {
        width: 100%;
        z-index: 0;
        text-align: center;
        position: absolute;
        font-size: 8em;
        margin-top: 74%;
    }
    .box-header {
        margin-top: 13%;
    }
    .box-logo-head, 
    .box-logo-footer {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        .logo-head {
            width: 15%;
            padding-right: 3%;
            padding-top:  2%;
            margin-bottom: 2%;
        }
    }
    .box-logo-footer {
        flex-direction: row;
    }
    .box-header, .box-content {
        width: 100;
        text-align: center;
    }
    .box-content {
        margin-top: 12%
    }
    .box-logo-footer {
        margin-top: 7%;
        .logo-one {
            width: 20%;
            padding-left: 3%;
        }
    }
    .box-footer {
        margin-top: -6%;
        width: 100%;
        height: 190px;
        background-color: #009c52;
    }
}
