.nav-head {
    width: 100%;
    height: 8.5%;
    background-color: #008240;
    display: flex;
    flex-direction: row;
    .hamberger-menu {
        width: 11%;
        padding-left: 3%;
        margin: 3.5% 0 3%;
        .ant-btn {
            background-color: inherit;
            color: #fff;
            border: none;
        }
        .hamberger-menu-open {
            position: absolute; 
            z-index: 2; 
            margin-left: 51%;
            background-color: #fff;
            color: #999;
            transition-duration: .0001s;
            border: none;
        }
    }
    .nav-content {
        width: 80%;
        margin: 3% 0% 3%;
        text-align: center;
        h1 {
            margin-bottom: 0.3%;
        }
        p {
            font-size: 29px;
            margin-bottom: 1%;
        }
    }
    .mask-open-menu {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 1;
        background-color:rgba(0, 0, 0, 0.65);
        .open-menu {
            width: 65%;
            height: auto;
            background-color: #ffffff;
            padding: 4%;
            .layout-content {

            }
            .tag-a-menu {
                padding: 1% 0;
            }
            .separator-head {
                width: 100%;    
                background: #2EAB6C;
                border:none;
                height: 3px;
            }
            a {
                color: #000;
            }
            div:hover {
                background-color: #2EAB6C;
                a {
                    color: #fff;
                }
            }
        }
        .link-book-pink {
            margin-top: 2%;
            a {
                color: #ef59a1;
            }
        }
    }
}
